[workspace]
name = "feagi_core_data_structures_and_processing"
resolver = "3"
members = [
    "feagi_connector_core",
    "feagi_data_serialization", 
    "feagi_data_structures"
]

[workspace.package] # Shared across all crates
version = "0.0.50-beta.39"
edition = "2024"
license = "Apache-2.0"
description = "A set of core libraries intended for fast data processing for various FEAGI applications"
repository = "https://github.com/feagi/feagi-data-processing"
homepage = "https://feagi.org"
documentation = "https://docs.rs/feagi_core_data_structures_and_processing"


[workspace.dependencies]
serde_json = "1.0.140"
ndarray = { version = "0.16.1", features = ["rayon"] }
image = "0.25"
rayon = "1.11.0"
paste = "1.0.15"
feagi_data_structures = { path = "feagi_data_structures", version = "0.0.50-beta.39" }
feagi_data_serialization = { path = "feagi_data_serialization", version = "0.0.50-beta.39"}


[profile.test]
opt-level = 0
debug = true