[workspace]
name = "feagi_core_data_structures_and_processing"
resolver = "3"
members = [
    "feagi_connector_core",
    "feagi_data_serialization", 
    "feagi_data_structures"
]

[workspace.package] # Shared across all crates
version = "0.0.50-beta.10"
edition = "2024"
license = "Apache-2.0"
description = "A set of core libraries intended for fast data processing for various FEAGI applications"
repository = "https://github.com/feagi/feagi-data-processing"
homepage = "https://feagi.org"
documentation = "https://docs.rs/feagi_core_data_structures_and_processing"


[workspace.dependencies]
serde_json = "1.0.140"
ndarray = "0.16.1"

[profile.test]
opt-level = 0
debug = true